In [1]:
from pandas_profiling import ProfileReport
import pandas as pd

In [2]:
data = pd.read_csv("../../Data/Dataset.csv")

In [3]:
data.shape

(7846, 23)

### Description des valeurs manquantes

In [4]:
pd.set_option("max_columns",None)

In [5]:
missing = pd.DataFrame([data.isna().sum().values,(data.isna().sum()/data.shape[0]).values],index = ["valeurs manquantes","% valeurs manquantes"] , columns=data.columns)
missing

,bathrooms,bedrooms,erf_size,floor_size,garages,listing_date,listing_number,pet_friendly,price,town,type_of_property,garden,pool,secure_parking,parking,no_pets_allowed,furnished,flatlet,fibre_internet,furnished_(optional),adsl_internet,satellite_internet,fixed_wimax_internet
valeurs manquantes,85.000000,236.000000,4251.000000,2005.000000,4143.00000,0.0,0.0,5826.000000,0.0,0.0,0.0,5825.000000,5132.000000,7182.000000,4436.000000,6530.000000,7547.000000,7437.000000,7055.000000,7824.000000,7806.000000,7834.000000,7845.000000
% valeurs manquantes,0.010834,0.030079,0.541805,0.255544,0.52804,0.0,0.0,0.742544,0.0,0.0,0.0,0.742417,0.654091,0.915371,0.565384,0.832271,0.961891,0.947872,0.899184,0.997196,0.994902,0.998471,0.999873

In [6]:
missing.T.describe()

       valeurs manquantes  % valeurs manquantes
count           23.000000             23.000000
mean          4304.304348              0.548599
std           3222.156328              0.410675
min              0.000000              0.000000
25%            160.500000              0.020456
50%           5132.000000              0.654091
75%           7309.500000              0.931621
max           7845.000000              0.999873

In [7]:
missing0 = missing.T[missing.T["% valeurs manquantes"]==0]
print("\nNombre de colonnes 100% remplies ")
print(len(missing0["% valeurs manquantes"]))
print((len(missing0["% valeurs manquantes"])/data.shape[1])*100,"%")

missing25 = missing.T[missing.T["% valeurs manquantes"]>=0.25]
print("\nNombre des colonnes avec au moins 25% de valeurs manquantes")
print(len(missing25["% valeurs manquantes"]))
print((len(missing25["% valeurs manquantes"])/data.shape[1])*100,"% des 287")

missing50 = missing.T[missing.T["% valeurs manquantes"]>=0.5]
print("\nNombre des colonnes avec au moins 50% de valeurs manquantes")
print(len(missing50["% valeurs manquantes"]))
print((len(missing50["% valeurs manquantes"])/data.shape[1])*100,"%")

missing75 = missing.T[missing.T["% valeurs manquantes"]>=0.75]
print("\nNombre des colonnes avec au moins 75% de valeurs manquantes")
print(len(missing75["% valeurs manquantes"]))
print((len(missing75["% valeurs manquantes"])/data.shape[1])*100,"%")

Nombre de colonnes 100% remplies
5
21.73913043478261 %

Nombre des colonnes avec au moins 25% de valeurs manquantes
16
69.56521739130434 % des 287

Nombre des colonnes avec au moins 50% de valeurs manquantes
15
65.21739130434783 %

Nombre des colonnes avec au moins 75% de valeurs manquantes
9
39.130434782608695 %

## Exploratory Data Analysis (EDA) using Pandas profiling 
- reference : https://pandas-profiling.github.io/pandas-profiling/docs/master/rtd/

In [8]:
profile = ProfileReport(
    data,
    title="Pandas Profiling Report of Dataset.csv",
    explorative=True,
    plot={"dpi": 250, "image_format": "png"},
    correlations={"cramers": {"calculate": False}},
)

### Pip install IProgress, ipywidgets and widgetsnbextension then run the cell below

In [9]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

### Save report as HTML --> see EDA_report.html

In [10]:
profile.to_file("EDA_report.html")

Summarize dataset:   0%|          | 0/35 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]