### Split csv

In [54]:
import pandas as pd

In [55]:
data = pd.DataFrame({"id":[1,2,3,4,5],"url":["zdjfjslfj","scqdqd","mpmlplpm","aaawkka","trytytyt"]})

### From dataframe

In [56]:
### Split in 2
index_ = int(len(data)/2)

### get an interval
index_0 = 1

In [57]:
data_1 = data.iloc[:index_,:]

In [58]:
data_1

   id        url
0   1  zdjfjslfj
1   2     scqdqd

In [59]:
data_2 = data.iloc[index_0:index_+1,:]

In [60]:
data_2

   id       url
1   2    scqdqd
2   3  mpmlplpm

### From csv

In [61]:
data.to_csv("tmp.csv",index=False)

In [62]:
### row 0 to index_
data_1 = pd.read_csv("tmp.csv",nrows=index_)

In [63]:
data_1

   id        url
0   1  zdjfjslfj
1   2     scqdqd

In [70]:
### skipped rows index_0+1 to index_+2
data_2 = pd.read_csv("tmp.csv",skiprows=[i for i in range(index_0+1,index_+2)])

In [71]:
data_2

   id        url
0   1  zdjfjslfj
1   4    aaawkka
2   5   trytytyt