In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../../../Data/Dataset_v2.csv",sep=";")

In [3]:
data.shape

(13666, 24)

### Drop All Column with more 15% missing

In [4]:
cols =[]
for idx in (data.isna().sum()/data.shape[0]).index:
    if (data.isna().sum()/data.shape[0])[idx] > 0.15:
        cols.append(idx) 
cols

['floor_size',
 'pool',
 'security',
 'health',
 'food_and_entertainment',
 'shopping',
 'sports_and_leisure',
 'levies',
 'rates_and_taxes',
 'pets_allowed',
 'kitchens',
 'garage',
 'gardens']

In [5]:
data = data.drop(cols, axis=1)

In [6]:
data = data.dropna(axis=0)

In [7]:
data.shape

(9445, 11)

In [8]:
data.columns

Index(['name', 'price', 'province', 'city', 'address', 'type_of_property',
       'bathrooms', 'bedrooms', 'education', 'transport_and_public_services',
       'sampling'],
      dtype='object')

### Need resampling here

In [9]:
def split_data(data,target,col="sampling"):
    unique = data["sampling"].unique()
    for i, v in enumerate(unique):
        if v == 1 :
            data_train = data[data[col]==v]
            y_train = data_train[target]
            X_train = data_train.drop([target],axis=1)
            print("train shape :",X_train.shape)
        elif v == 2 :
            data_val = data[data[col]==v]
            y_val = data_val[target]
            X_val = data_val.drop([target],axis=1)
            print("val shape :",X_val.shape)
        elif v == 3 :
            data_test = data[data[col]==v]
            y_test = data_test[target]
            X_test = data_test.drop([target],axis=1)
            print("test shape :",X_test.shape)
            
            
    return X_train, y_train, X_val, y_train, X_test, y_test

In [10]:
X_train, y_train, X_val, y_train, X_test, y_test = split_data(data,"price")

train shape : (6572, 10)
val shape : (1465, 10)
test shape : (1408, 10)

In [11]:
data.to_csv("../../../Data/Dataset_zero_numeric_missing.csv",sep=";",)