In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../../../Data/Dataset_v2.csv",sep=";")

In [3]:
data.shape

(13666, 24)

### Drop All Column with more 15% missing

In [4]:
cols =[]
for idx in (data.isna().sum()/data.shape[0]).index:
    if (data.isna().sum()/data.shape[0])[idx] > 0.15:
        if idx not in ['food_and_entertainment','floor_size','rates_and_taxes']:
            cols.append(idx) 
cols

['pool',
 'security',
 'health',
 'shopping',
 'sports_and_leisure',
 'levies',
 'pets_allowed',
 'kitchens',
 'garage',
 'gardens']

In [5]:
data = data.drop(cols, axis=1)

In [6]:
data.isna().sum()

name                                0
price                               0
province                            0
city                                0
address                             0
type_of_property                    0
floor_size                       5729
bathrooms                        1796
food_and_entertainment           4900
rates_and_taxes                  5012
bedrooms                         1497
education                         356
transport_and_public_services    1791
sampling                            0
dtype: int64

In [7]:
data = data[data["bathrooms"]>=0.]
data = data[data["bedrooms"]>=0.]

In [8]:
data.shape

(11087, 14)

In [9]:
data.columns

Index(['name', 'price', 'province', 'city', 'address', 'type_of_property',
       'floor_size', 'bathrooms', 'food_and_entertainment', 'rates_and_taxes',
       'bedrooms', 'education', 'transport_and_public_services', 'sampling'],
      dtype='object')

### Need resampling here

In [10]:
def split_data(data,target,col="sampling"):
    unique = data["sampling"].unique()
    for i, v in enumerate(unique):
        if v == 1 :
            data_train = data[data[col]==v]
            y_train = data_train[target]
            X_train = data_train.drop([target],axis=1)
            print("train shape :",X_train.shape)
        elif v == 2 :
            data_val = data[data[col]==v]
            y_val = data_val[target]
            X_val = data_val.drop([target],axis=1)
            print("val shape :",X_val.shape)
        elif v == 3 :
            data_test = data[data[col]==v]
            y_test = data_test[target]
            X_test = data_test.drop([target],axis=1)
            print("test shape :",X_test.shape)
            
            
    return X_train, y_train, X_val, y_train, X_test, y_test

In [11]:
X_train, y_train, X_val, y_train, X_test, y_test = split_data(data,"price")

train shape : (7739, 13)
val shape : (1709, 13)
test shape : (1639, 13)

In [12]:
data.to_csv("../../../Data/Dataset_zero_numeric_missing_v2.csv",sep=";",)